
@{
    ViewBag.Title = "Carsection";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Car section</title>
</head>
<body>
    <nav>
        <div class="nt-container">
            <div class="container">
                <div class="nav-top">
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Chișinău, Moldova</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <span>24/7 Open</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-phone"></i>
                        <span>069112233</span>
                    </div>
                    <div class="social-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="nl-container">
            <div class="container">
                <div class="logo">
                    <div>
                        <img src="./images/logo_flaticon.png" alt="Company Logo">
                    </div>
                    <ul class="navalist">
                        <li><a href="Index">home</a></li>
                        <li><a href="Login">login/sign up</a></li>
                        <li><a href="#about">about</a></li>
                        <li><a href="Services">services</a></li>
                        <li><a href="Carsection">car</a></li>
                        <li><a href="Blogs">blog</a></li>
                        <li><a href="#contact">contact</a></li>
                    </ul>
                    <div class="menu-btn">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="cars" id="cars">
        <div class="title">
            <h4><i class="fa-solid fa-car"></i></h4>
            <h2><i>Alegeți mașina dorită</i></h2>
            <p>
                Stocul nostru de mașini de închiriat oferă o gamă variată de vehicule, adaptate nevoilor fiecărui client.
                De la mașini economice și eficiente pentru oraș, până la SUV-uri spațioase pentru călătorii confortabile
                și vehicule premium pentru experiențe de lux, avem opțiuni pentru orice ocazie. Toate autoturismele sunt
                bine întreținute, asigurate și echipate cu dotările necesare pentru siguranță și confort. Indiferent dacă
                ai nevoie de o mașină pe termen scurt sau lung, îți punem la dispoziție soluții flexibile la prețuri competitive.
                Alege modelul potrivit și bucură-te de o experiență de închiriere fără griji!
            </p>
        </div>
        <div class="container car-container">
            <div class="box">
                <img src="/Content/images/cars_pexels_1.jpg" alt="Range Rover 4.0">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$60/DAY</p>
                    </div>
                    <h5>Range Rover 4.0</h5>
                    <p>Land Rover</p>
                    <div class="details">
                        <a href="#">2020</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_4.jpg" alt="Mercedes-Benz GLS63">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$100/DAY</p>
                    </div>
                    <h5>Mercedes-Benz GLS63</h5>
                    <p>Mercedes-Benz</p>
                    <div class="details">
                        <a href="#">2018</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_2.jpg" alt="Range Rover 4.0">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$60/DAY</p>
                    </div>
                    <h5>Range Rover 4.0</h5>
                    <p>Land Rover</p>
                    <div class="details">
                        <a href="#">2020</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_3.jpg" alt="Range Rover 4.0">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$60/DAY</p>
                    </div>
                    <h5>Range Rover 4.0</h5>
                    <p>Land Rover</p>
                    <div class="details">
                        <a href="#">2020</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_5.jpg" alt="Range Rover 4.0">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$60/DAY</p>
                    </div>
                    <h5>Range Rover 4.0</h5>
                    <p>Land Rover</p>
                    <div class="details">
                        <a href="#">2020</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_6.jpg" alt="Range Rover 4.0">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$60/DAY</p>
                    </div>
                    <h5>Range Rover 4.0</h5>
                    <p>Land Rover</p>
                    <div class="details">
                        <a href="#">2020</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_7.jpg" alt="Mercedes-Benz GLS63">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$100/DAY</p>
                    </div>
                    <h5>Mercedes-Benz GLS63</h5>
                    <p>Mercedes-Benz</p>
                    <div class="details">
                        <a href="#">2018</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_8.jpg" alt="Range Rover 4.0">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$60/DAY</p>
                    </div>
                    <h5>Range Rover 4.0</h5>
                    <p>Land Rover</p>
                    <div class="details">
                        <a href="#">2020</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_9.jpg" alt="Range Rover 4.0">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$60/DAY</p>
                    </div>
                    <h5>Range Rover 4.0</h5>
                    <p>Land Rover</p>
                    <div class="details">
                        <a href="#">2020</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_10.jpg" alt="Mercedes-Benz GLS63">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$100/DAY</p>
                    </div>
                    <h5>Mercedes-Benz GLS63</h5>
                    <p>Mercedes-Benz</p>
                    <div class="details">
                        <a href="#">2018</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_11.jpg" alt="Range Rover 4.0">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$60/DAY</p>
                    </div>
                    <h5>Range Rover 4.0</h5>
                    <p>Land Rover</p>
                    <div class="details">
                        <a href="#">2020</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Content/images/cars_pexels_12.jpg" alt="Range Rover 4.0">
                <div class="info">
                    <div class="tag">
                        <span class="custom-pointer"></span>
                        <p>$60/DAY</p>
                    </div>
                    <h5>Range Rover 4.0</h5>
                    <p>Land Rover</p>
                    <div class="details">
                        <a href="#">2020</a>
                        <a href="#">Automatic</a>
                        <a href="#">Full option</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

