@{
    ViewBag.Title = "Cos";
}

@Html.Partial("_Header")

<section class="cart">
    <div class="container">
        <h2>Coșul tău de închirieri</h2>
        <div class="empty-cart">
            <p>Coșul tău este gol. Adaugă o mașină pentru a începe procesul de închiriere.</p>
            <a href="@Url.Action("Carsection","Home")" class="btn">Vezi mașinile disponibile</a>
        </div>
    </div>
</section>