
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_Header")

<section class="home" id="home">
    <div class="container home-container">
        <div class="info">
            <h1>DriveNow - Închirieri auto rapide , oricând ai nevoie!</h1>
            <p>DriveNow îți oferă mașina perfectă exact când ai nevoie! Închiriază rapid, simplu și fără stres, cu o gamă variată de autoturisme pentru orice călătorie. Rezervă online și pornește la drum!</p>
            <div class="booking-form">
                <div class="form-group">
                    <h5>Select Vehicle</h5>
                    <select name="Car" id="">
                        <option value="">Select</option>
                        <option value="">Ferrari</option>
                        <option value="">Lamborghini</option>
                        <option value="">Pagani </option>
                        <option value="">Bugatti </option>
                        <option value="">Porsche</option>
                        <option value="">Bentley</option>
                        <option value="">Rolls-Royce</option>
                        <option value="">Mercedes-Maybach</option>
                        <option value="">McLaren</option>
                        <option value="">Audi</option>
                        <option value="">Range Rover</option>
                        <option value="">BMW</option>
                    </select>
                </div>
                <div class="form-group">
                    <h5>Pick up:</h5>
                    <input type="date" name="Pick up"
                           placeholder="Pick up">
                </div>
                <div class="form-group">
                    <h5>Drop off:</h5>
                    <input type="date" name="Drop off"
                           placeholder="Drop off">
                </div>
            </div>
            <button class="btn">Book</button>
        </div>
    </div>
</section>
<section class="works">
    <div class="title">
        <h3> Care sunt pașii de închiriere?</h3>
    </div>
    <div class="container works-container">
        <div class="step">
            <span class="number">01</span>
            <span class="caption">Select Vehicle</span>
        </div>
        <div class="step">
            <span class="number">02</span>
            <span class="caption">Time</span>
        </div>
        <div class="step">
            <span class="number">03</span>
            <span class="caption">Pick and Drop</span>
        </div>
        <div class="step">
            <span class="number">04</span>
            <span class="caption">Check out</span>
        </div>
        <div class="step">
            <span class="number">05</span>
            <span class="caption">Done</span>
        </div>
    </div>
</section>