
@{
    ViewBag.Title = "Login";
}
@Html.Partial("_Header")

<div class="profile-wrapper">
    <div class="login-container" id="loginContainer">
        <h2>Autentificare</h2>
        <form action="dashboard.html" method="post">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Parola:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="button" class="button" onclick="showSuccessMessage()">Login</button>
        </form>
        <p>Nu ai cont? <a href="~/Home/Registre">Înregistrează-te</a></p>
        <p><a href="LoginAdmin" class="admin-login">Autentificare ca Administrator</a></p>
    </div>

    <div class="success-container" style="display: none;">
        <span class="success-message">Autentificare reușită!</span>
        <span class="success-text">Bun venit! Acum poți accesa toate funcționalitățile platformei.</span>
        <button class="success-button" onclick="window.location.href='index'">Mergi la pagina principală</button>
    </div>
</div>

<script>
    function showSuccessMessage() {
        document.getElementById('loginContainer').style.display = 'none';
        document.querySelector('.success-container').style.display = 'block';
    }
</script>



