
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <div class="nt-container">
            <div class="container">
                <div class="nav-top">
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Chișinău, Moldova</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <span>24/7 Open</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-phone"></i>
                        <span>069112233</span>
                    </div>
                    <div class="social-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="nl-container">
            <div class="container">
                <div class="logo">
                    <img src="~/Content/images/car-top.png" alt="">
                </div>
                <ul class="navlist">
                    <li><a href="Index">home</a></li>
                    <li><a href="Login">login/sign up</a></li>
                    <li><a href="#about">about</a></li>
                    <li><a href="Services">services</a></li>
                    <li><a href="Carsection">car</a></li>
                    <li><a href="Blogs">blog</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
                <div class="menu-btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </nav>

    <div class="profile-wrapper">
        <!-- Formularul de autentificare -->
        <div class="login-container" id="loginContainer">
            <h2>Autentificare</h2>
            <form action="dashboard.html" method="post">
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Parola:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <!-- Am schimbat tipul butonului la "button" pentru a evita trimiterea formularului înaintea validării -->
                <button type="button" class="button" onclick="showSuccessMessage()">Login</button>
            </form>
            <p>Nu ai cont? <a href="Register">Înregistrează-te</a></p>
        </div>

        <!-- Mesajul de succes -->
        <div class="success-container" style="display: none;">
            <span class="success-message">Autentificare reușită!</span>
            <span class="success-text">Bun venit! Acum poți accesa toate funcționalitățile platformei.</span>
            <button class="success-button" onclick="window.location.href='index'">Mergi la pagina principală</button>
        </div>
    </div>

    <script>
        function showSuccessMessage() {
            // Ascunde formularul de autentificare și afișează mesajul de succes
            document.getElementById('loginContainer').style.display = 'none';
            document.querySelector('.success-container').style.display = 'block';
        }
    </script>
</body>
</html>

