
@{
    ViewBag.Title = "Review";
}

@Html.Partial("_Header")

<section class="reviews" id="reviews">
    <div class="container light-style flex-grow-1 container-p-y">
        <div class="title">
            <h4><i class="fa-solid fa-car"></i></h4>
            <h2>Reviews</h2>
        </div>
        <div class="card__container swiper">
            <div class="card__content">
                <div class="swiper-wrapper">
                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="~/Content/images/avatar-1.png" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Kell Dawx</h3>
                            <p class="card__description">
                                „I had an excellent experience with this car rental site!
                                I quickly found the car I wanted at a very good price.
                                The online booking was simple, and I received prompt service
                                for both pick-up and drop-off. The car was in perfect condition,
                                clean, and very comfortable. Highly recommend for any trip!”
                            </p>

                            <a href="#" class="card__button">View More</a>
                        </div>
                    </article>

                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="~/Content/images/avatar-2.png" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Lotw Fox</h3>
                            <p class="card__description">
                                „The website is easy to navigate and offers a wide range
                                of cars, but I had to wait a little longer than expected
                                for the car to be delivered. Other than that, everything was
                                fine. The staff at the office was friendly, and the car was
                                exactly what we wanted. Overall, I recommend this service,
                                especially for the competitive prices.”
                            </p>

                            <a href="#" class="card__button">View More</a>
                        </div>
                    </article>

                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="~/Content/images/avatar-3.png" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Sara Mit</h3>
                            <p class="card__description">
                                „The best car rental site I've ever used! The process was simple,
                                and the confirmation came almost instantly. I rented an SUV for a
                                mountain vacation, and we had no issues at all. I highly recommend
                                it, especially for those looking for a stress-free experience.”
                            </p>

                            <a href="#" class="card__button">View More</a>
                        </div>
                    </article>

                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="~/Content/images/avatar-4.png" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Jenny Wert</h3>
                            <p class="card__description">
                                „The site is pretty easy to use, but I had some issues with online payment,
                                although the customer service team resolved it quickly. The car I rented
                                was fine, but it didn't meet the standards I was expecting. However, the
                                prices are great, so I'm thinking about using this service again.”
                            </p>

                            <a href="#" class="card__button">View More</a>
                        </div>
                    </article>

                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="~/Content/images/avatar-5.png" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Lexa Kin</h3>
                            <p class="card__description">
                                „I rented a car from this site for a weekend city trip, and I was very pleased!
                                All the details were clear from the start, and when I arrived at the rental
                                office, I received a spotless car. The service was quick and hassle-free.
                                I'll definitely use this site for my future vacations!”
                            </p>

                            <a href="#" class="card__button">View More</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>