<html>
<head>
    <title>BarterZone / @ViewBag.Title</title>
</head>
<body class="min-h-screen overflow-x-hidden flex flex-col gap-4">
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>